/* подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

@layer components {
  .red-dot {
    position: relative;
  }

  .red-dot::after {
    @apply absolute transform -translate-x-1/2 bg-primary -bottom-3 left-1/2;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  /* range slider */

  .range {
    @apply bg-[#f0f2f5] dark:bg-surfaceDarkHover;
    -webkit-appearance: none;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    height: 12px;
    border-radius: 25px;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply appearance-none w-[25px] h-[25px] border-[3px] border-solid border-primary bg-white dark:bg-[#333333] rounded-full cursor-pointer;
  }

  .active svg {
    @apply stroke-primary dark:stroke-primary;
  }

  .active div {
    @apply text-primary dark:text-primary;
  }
}

.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
.dark input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* обнуляющие стили */

html,
body,
#root,
#app {
  min-height: 100% !important;
  height: 100% !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh !important;
  height: 100% !important;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.App {
  height: 100vh;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.modal-open {
  overflow: hidden;
}
