/* подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

@layer components {
  .red-dot {
    position: relative;
  }
  .red-dot::after {
    @apply absolute transform -translate-x-1/2 bg-primary -bottom-3 left-1/2;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  /* range slider */
  .range-slider-custom {
    @apply transition-all duration-150;
  }
  /* Стили для бегунка (Chrome, Safari, Edge) */
  .range-slider-custom::-webkit-slider-thumb {
    @apply w-5 h-5 transition-transform bg-white border-4 border-solid rounded-full shadow-md appearance-none cursor-pointer border-primary active:scale-110;
    -webkit-appearance: none;
  }
  /* Стили для Firefox */
  .range-slider-custom::-moz-range-thumb {
    @apply w-5 h-5 transition-transform bg-white border-4 border-solid rounded-full shadow-md cursor-pointer border-primary active:scale-110;
  }

  .active svg {
    @apply stroke-primary dark:stroke-primary;
  }
  .active div {
    @apply text-primary dark:text-primary;
  }
}

/* scrollbar */

.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* input datetime-local */

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
.dark input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* обнуляющие стили */

html,
body,
#root,
#app {
  min-height: 100% !important;
  height: 100% !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh !important;
  height: 100% !important;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.App {
  height: 100vh;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.modal-open {
  overflow: hidden;
}

@keyframes backdrop-blur-fade-in {
  from {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.animate-backdrop-fade-in {
  animation: backdrop-blur-fade-in 0.3s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

/* scrollbar overlay */
.scroll-overlay {
  /* Стандартные свойства для Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(130, 130, 130, 0.4) transparent;
}
/* Для Chrome, Safari и Edge */
.scroll-overlay::-webkit-scrollbar {
  width: 10px; /* Ширина вертикального */
  height: 10px; /* Высота горизонтального */
}
.scroll-overlay::-webkit-scrollbar-track {
  background: transparent; /* Фон дорожки */
}
.scroll-overlay::-webkit-scrollbar-thumb {
  background-color: rgba(130, 130, 130, 0.4);
  border-radius: 10px;
}
